body{
  background-color: #14213D;
  color: #E5E5E5;
}

.top_bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
}

.simple_button{
    display:inline-block;
    
    font:normal normal 300 1.3em 'Open Sans';
    text-decoration:none; 
    
    color: #FCA311;
    background-color: transparent;
    border:2px solid #FCA311;
    border-radius:100px;
    
    padding: .3em 1.2em;
    margin:5px;
        
    background-size: 200% 100%; 
    background-image: linear-gradient(to right, transparent 50%, #FCA311 50%);
    transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}
  
.simple_button:hover{
  color:#14213D;
  background-color:#FCA311;
  background-position: -100% 100%;
}